ServiceInteractions/riv/clinicalprocess/healthcond/actoutcome/trunk/Schemas/src/main/resources/core_components/clinicalprocess_healthcond_actoutcome_2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="urn:riv:clinicalprocess:healthcond:actoutcome:2" 
    xmlns:codes="urn:riv:clinicalprocess:healthcond:actoutcome:enums:2" 
    targetNamespace="urn:riv:clinicalprocess:healthcond:actoutcome:2" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified" 
    version="2.0">
	
    <xs:import schemaLocation="./clinicalprocess_healthcond_actoutcome_enum_2.0.xsd" namespace="urn:riv:clinicalprocess:healthcond:actoutcome:enums:2"/>

    <xs:complexType name="PatientSummaryHeaderType">
        <xs:sequence>
            <xs:element name="documentId" type="xs:string"/>
            <xs:element name="sourceSystem" type="tns:HSAIdType"/>
            <xs:element name="documentTitle" type="xs:string" minOccurs="0"/>
            <xs:element name="documentTime" type="tns:TimeStampType"/>
            <xs:element name="patientId" type="tns:PatientIdType"/>
            <xs:element name="author" type="tns:AuthorType"/>
            <xs:element name="legalAuthenticator" type="tns:LegalAuthenticatorType" minOccurs="0"/>
            <xs:element name="approvedForPatient" type="xs:boolean"/>
            <xs:element name="careContactId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

   <xs:complexType name="ReferralOutcomeType">
        <xs:sequence>
            <xs:element name="referralOutcomeHeader" type="tns:PatientSummaryHeaderType"/>
            <xs:element name="referralOutcomeBody" type="tns:ReferralOutcomeBodyType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ReferralOutcomeBodyType">	
        <xs:sequence>
            <xs:element name="referralOutcomeTypeCode" type="codes:ReferralOutcomeTypeCodeEnum"/>
            <xs:element name="referralOutcomeTitle" type="xs:string"/>
            <xs:element name="referralOutcomeText" type="xs:string"/>
            <xs:element name="clinicalInformation" type="tns:ClinicalInformationType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="act" type="tns:ActType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="referral" type="tns:ReferralType"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ClinicalInformationType">	
        <xs:sequence>
            <xs:element name="clinicalInformationCode" type="tns:ClinicalInformationCodeType"/>
            <xs:element name="clinicalInformationText" type="xs:string"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ClinicalInformationCodeType">
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="codeSystem" type="tns:ClinicalInformationCodeCodeSystemType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="ClinicalInformationCodeCodeSystemType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1.2.752.116.1.1.1.1.3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ActType">	
        <xs:sequence>
            <xs:element name="actId" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="actCode" type="tns:ActCodeType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="actText" type="xs:string"/>
            <xs:element name="actTime" type="tns:TimeStampType" minOccurs="0"/>
            <xs:element name="actResult" type="tns:MultimediaType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ActCodeType">
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="codeSystem" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ReferralType">
        <xs:sequence>
            <xs:element name="referralId" type="xs:string"/>
            <xs:element name="referralText" type="xs:string"/>
            <xs:element name="referralTime" type="tns:TimeStampType"/>
            <xs:element name="referralAuthorId" type="tns:HSAIdType"/>
            <xs:element name="referralAuthorName" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="referralOrganizationHSAid" type="tns:HSAIdType"/>
            <xs:element name="referralOrganizationName" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="referralOrganizationTelecom" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="referralOrganizationAddress" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="careContactId" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
 
 
	<xs:complexType name="AuthorType">
		<xs:sequence>
			<xs:element name="authorTime" type="tns:TimeStampType"/>
		    <xs:element name="authorHSAid" type="tns:HSAIdType"/>
		    <xs:element name="authorRoleCode" type="xs:string" minOccurs="0"/>
			<xs:element name="authorName" type="xs:string" minOccurs="0"/>
		    <xs:element name="authorOrgUnitHSAid" type="tns:HSAIdType"/>
		    <xs:element name="authorOrgUnitName" type="xs:string"/>
		    <xs:element name="authorOrgUnitAddress" type="xs:string" minOccurs="0"/>
		    <xs:element name="careUnitHSAid" type="tns:HSAIdType"/>
		    <xs:element name="careGiverHSAid" type="tns:HSAIdType"/>
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="LegalAuthenticatorType">
        <xs:annotation>
            <xs:documentation>
                Information om signering
                
                signatureTime: 
                    Tidpunkt för signering, format ÅÅÅÅMMDDttmmss. 
                assignedEntity: 
                    Information om person som signerat dokumentet
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="signatureTime" type="tns:TimeStampType"/>
            <xs:element name="legalAuthenticatorHSAid" type="tns:HSAIdType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- 
        Below: only helper types allowed.
        
        A helper type is a type used in one ore more of the domain schema common types.
        It can also be a type used in two or more service schemas.
    -->
    
    <xs:complexType name="DatePeriodType">
        <xs:annotation>
            <xs:documentation>
                Används för att specificera ett datumintervall
                med hjälp av start- och slutdatum.
                
                start: 
                    Startdatum på formatet ÅÅÅÅMMDD
                end: 
                    Slutdatum på formatet ÅÅÅÅMMDD
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="start" type="tns:DateType"/>
            <xs:element name="end" type="tns:DateType"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- YYYYMMDD -->
    <xs:simpleType name="DateType">
        <xs:annotation>
            <xs:documentation/>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
        </xs:restriction>
    </xs:simpleType>    

    <!-- @TODO Should we have maxlength 64? -->
    <xs:simpleType name="HSAIdType">
        <xs:restriction base="xs:string"/> 
    </xs:simpleType>

    <xs:complexType name="MultimediaType">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="0"/>
            <xs:element name="mediaType" type="codes:MediaTypeEnum"/>
            <xs:choice>
                <xs:element name="value" type="xs:base64Binary"/>
                <xs:element name="reference" type="xs:anyURI"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="PatientIdType">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="type" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TimePeriodType">
        <xs:annotation>
            <xs:documentation>
                Används för att specificera ett datumintervall
                med hjälp av start- och slutdatum.
                
                start: 
                Startdatum på formatet YYYYMMDDhhmmss
                end: 
                Slutdatum på formatet YYYYMMDDhhmmss
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="start" type="tns:TimeStampType"/>
            <xs:element name="end" type="tns:TimeStampType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="TimeStampType">
        <xs:annotation>
            <xs:documentation>
                A quantity specifying a point on the axis of natural time.
                A point in time is most often represented as a calendar
                expression.
                
                The time has the format YYYYMMDDhhmmss
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(0[0-9]|1[0-9]|2[0123])([0-5])([0-9])([0-5])([0-9])"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
